<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
		<div class="logo">
			MT
		</div>
	</header>
    <nav>
        <ul>
            <a href="/" style="color: #777;">home</a>
            <a href="/work" style="color: #777;">work</a>
            <a href="/contact" style="color: #777;">contact</a>
        </ul>
    </nav>
    <main>
        <div class="content">
            <h2>About me</h2>
			<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore<br> et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip<br>
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse<br>
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non<br>
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br> et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip<br>
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse<br></p>
			<a href="/" style="color: #777;">home</a>
    </main>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>