<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
		<div class="logo">
			MT
		</div>
	</header>
    <nav>
        <ul>
            <a href="/" style="color: #777;">home</a>
            <a href="/work" style="color: #777;">work</a>
            <a href="/contact" style="color: #777;">contact</a>
        </ul>
    </nav>
    <main>
        <div class="content">
            <h2>Work</h2>
			<h3> Project Blank -  <a rel="link-resume" href="index.html" style="color: #777;">Github</a></h3>
			<h4>About</h4>
			<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do <br>eiusmod
			tempor incididunt ut laborealiqua. Ut enim ad minim veniam,
			quis nostrud exercitation<br> ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate
		</p>
			<h3> Project X -  <a rel="link-resume" href="index.html" style="color: #777;">Github</a></h3>
			<h4>About</h4>
			<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do <br>eiusmod
			tempor incididunt ut labore<br> et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation
		</p><a rel="link-resume" href="index.html" style="color: #777;">home</a>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>